@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  background-image: url("/grid.png");
  background-position: center;
  /* background-size: contain; */
  background-repeat: no-repeat;
}
